In [1]:
#Dependencies
%matplotlib inline
import os
import csv
import pandas as pd
import psycopg2 as ps2
import matplotlib.pyplot as plt
import datetime as date
from sqlalchemy import create_engine, inspect, func
from sqlalchemy.orm import session
from config import password

In [2]:
#Read CSV files
file = "Resources.LL/3_cases_and_deaths_by_state_timeseries.csv"
case_state = pd.read_csv(file, usecols= ["state", "date", "total_population", "cumulative_cases", "cumulative_deaths"])
case_state.head()

     state        date  total_population  cumulative_cases  cumulative_deaths
0  Alabama  2020-01-22         4887871.0                 0                  0
1  Alabama  2020-01-23         4887871.0                 0                  0
2  Alabama  2020-01-24         4887871.0                 0                  0
3  Alabama  2020-01-25         4887871.0                 0                  0
4  Alabama  2020-01-26         4887871.0                 0                  0

In [3]:
case_state.dtypes

state                 object
date                  object
total_population     float64
cumulative_cases       int64
cumulative_deaths      int64
dtype: object

In [4]:
engine = create_engine(f"postgresql://postgres:{password}@localhost:5432/Project_2")