In [1]:
#Dependencies
import pandas as pd
import psycopg2 as ps2
import matplotlib.pyplot as plt
import datetime as date
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

In [2]:
csv_file = 'COVID-19 Data Set SS/day_wise.csv'
#Change the CSV File ^ 

covid_data_df = pd.read_csv(csv_file ,  usecols = ['Date' , 'Confirmed' , 'Deaths' , 'Recovered' , 'Active'])

covid_data_df

           Date  Confirmed  Deaths  Recovered   Active
0    2020-01-22        555      17         28      510
1    2020-01-23        654      18         30      606
2    2020-01-24        941      26         36      879
3    2020-01-25       1434      42         39     1353
4    2020-01-26       2118      56         52     2010
..          ...        ...     ...        ...      ...
183  2020-07-23   15510481  633506    8710969  6166006
184  2020-07-24   15791645  639650    8939705  6212290
185  2020-07-25   16047190  644517    9158743  6243930
186  2020-07-26   16251796  648621    9293464  6309711
187  2020-07-27   16480485  654036    9468087  6358362

[188 rows x 5 columns]

In [3]:
rds_connection_string = "postgres:mMDQ8!;YU.Sw.T)6@localhost:5432/Project_2_COVID_by_Day"

engine = create_engine(f'postgresql://{rds_connection_string}')

In [4]:
engine.table_names()

C:\Users\samue\AppData\Local\Temp/ipykernel_4532/4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['day_wise']

In [7]:
covid_data_df.to_sql(name = 'day_wise', con = engine, if_exists = 'append' , index = False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "Date" of relation "day_wise" does not exist
LINE 1: INSERT INTO day_wise ("Date", "Confirmed", "Deaths", "Recove...
                              ^

[SQL: INSERT INTO day_wise ("Date", "Confirmed", "Deaths", "Recovered", "Active") VALUES (%(Date)s, %(Confirmed)s, %(Deaths)s, %(Recovered)s, %(Active)s)]
[parameters: ({'Date': '2020-01-22', 'Confirmed': 555, 'Deaths': 17, 'Recovered': 28, 'Active': 510}, {'Date': '2020-01-23', 'Confirmed': 654, 'Deaths': 18, 'Recovered': 30, 'Active': 606}, {'Date': '2020-01-24', 'Confirmed': 941, 'Deaths': 26, 'Recovered': 36, 'Active': 879}, {'Date': '2020-01-25', 'Confirmed': 1434, 'Deaths': 42, 'Recovered': 39, 'Active': 1353}, {'Date': '2020-01-26', 'Confirmed': 2118, 'Deaths': 56, 'Recovered': 52, 'Active': 2010}, {'Date': '2020-01-27', 'Confirmed': 2927, 'Deaths': 82, 'Recovered': 61, 'Active': 2784}, {'Date': '2020-01-28', 'Confirmed': 5578, 'Deaths': 131, 'Recovered': 107, 'Active': 5340}, {'Date': '2020-01-29', 'Confirmed': 6166, 'Deaths': 133, 'Recovered': 125, 'Active': 5908}  ... displaying 10 of 188 total bound parameter sets ...  {'Date': '2020-07-26', 'Confirmed': 16251796, 'Deaths': 648621, 'Recovered': 9293464, 'Active': 6309711}, {'Date': '2020-07-27', 'Confirmed': 16480485, 'Deaths': 654036, 'Recovered': 9468087, 'Active': 6358362})]
(Background on this error at: https://sqlalche.me/e/14/f405)