In [1]:
#Import Dependencies
import pandas as pd
import psycopg2 as ps2
import matplotlib.pyplot as plt
import datetime as date
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
import datetime as dt

In [2]:
# Read in CSV
csv_file = '../Resources.kd/covid-19-cases.csv'

# covid_df = pd.read_csv("../Resources.kd/covid-19-cases.csv")

covid_df_p2 = pd.read_csv(csv_file, usecols = ['Cases' , 'Date' , 'Country_Region' , 'Province_State'], parse_dates = ['Date'])

covid_df_p2_clean = covid_df_p2.dropna(how='any')

covid_df_p2_clean

        Cases       Date Country_Region Province_State
3           0 2020-01-31         Canada        Alberta
4           0 2020-03-04      Australia     Queensland
10          6 2020-02-24          China          Hebei
16          0 2020-02-23    Netherlands   Sint Maarten
17      19665 2020-02-05          China          Hubei
...       ...        ...            ...            ...
582655      0 2020-01-22             US    Mississippi
582656      0 2020-01-22             US        Alabama
582657      0 2020-01-22             US      Tennessee
582658      0 2020-01-22             US      Louisiana
582659      0 2020-01-22             US     New Jersey

[552780 rows x 4 columns]

In [3]:
rds_connection_string = "postgres:postgres@localhost:5432/Covid_Project_2"

engine = create_engine(f'postgresql://{rds_connection_string}')

In [4]:
engine.table_names()

C:\Users\kamer\AppData\Local\Temp/ipykernel_22704/4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['project_2', 'sams_table']

In [5]:
covid_df_p2_clean.to_sql(name = 'project_2', con = engine, if_exists = 'append', index = False)

In [6]:
pd.read_sql_query('select * from project_2', con = engine).head()

   Cases        Date Country_Region Province_State
0      0  2020-01-31         Canada        Alberta
1      0  2020-03-04      Australia     Queensland
2      6  2020-02-24          China          Hebei
3      0  2020-02-23    Netherlands   Sint Maarten
4  19665  2020-02-05          China          Hubei

In [7]:
csv_file_2 = '../Resources.kd/COVID-19 Data Set SS/day_wise.csv'

sams_df = pd.read_csv(csv_file_2, usecols = ['Date' , 'Confirmed' , 'Deaths' , 'Recovered', 'Active'], parse_dates = ['Date'])

sams_df_clean = sams_df.dropna(how='any')

sams_df_clean.head()

        Date  Confirmed  Deaths  Recovered  Active
0 2020-01-22        555      17         28     510
1 2020-01-23        654      18         30     606
2 2020-01-24        941      26         36     879
3 2020-01-25       1434      42         39    1353
4 2020-01-26       2118      56         52    2010

In [8]:
sams_df_clean.to_sql(name = 'sams_table', con = engine, if_exists = 'append', index = False)